.h2_site {
    width: 185px;
    height: 43px;
    top: -4px;
    left: 24px;

    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;

    color: #814813;
}

p {
    font-family: 'Poppins', sans-serif;
    color: #626262;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.texto_site {
    display: block;
}

.texto_site section {
    display: block;
}

.img {
    display: flex;
    gap: 10px;
}

.foto {
    width: 220px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

h1 {
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    font-size: 58px;
    line-height: 1;
    letter-spacing: -0.1em;
    color: #1d1d1d;
}
