@media (max-width: 768px) {
    .menu_navegacao {
        padding: 10px 20px;
        height: auto;
        flex-wrap: wrap;
    }

    .container_principal {
        margin: 20px auto;
        padding: 0 15px;
    }

    h1 {
        font-size: 32px;
        text-align: center;
    }

    .conteudo_site {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .container_imagens {
        width: 100%;
        height: 300px;
    }

    .foto {
        height: 300px;
    }

    .texto_site {
        width: 100%;
        min-height: auto;
    }
}
